body{

	font-size: 25px;

	font-family: var(--primary-font-family);
	color: var(--primary-text-color);

  	background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000, #17080c, #240f14, #321219, #531721, #751b26, #972225, #b82e1f);
  	background-attachment: fixed;

}


/*-------             Navigation Bar              ---------*/
nav{
	height: 10vh;
	min-height: 80px;
	overflow: hidden;
	padding-top: 1vh;
	padding-bottom: 1vh;
	
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
		
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	z-index: 500;


}




/*-- Logo  --*/
#logo-container{
	height: 100%;
	width: 15%;	
	min-width: 195px;
	margin-top: -1vh;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
	align-items: center;
}

#logo-container div{
	height: 90%;
	width: auto;
	margin-top: -1vh;

}




#logo-container div img{
	height: 100%;
	width: auto;
}


#logo-container a{
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.5;
	color: white;
	text-decoration: none;
}

#logo-container span{
	color: Orange;
}

/*-- Menu  --*/
#menu{
	height: auto;
	width: auto;
}


#menu a{
	text-decoration: none;
	font-size: 1.2rem;
	color: #fdfdfd;
	transition: all  0.4s;
                     
}

#menu a:hover{
	color: lightgrey;
}


/*-- Search-form-container --*/
#search-form-container{
	height: 60%;
	width: 25%;

	background-color: var(--secondary-nav-color);
    border-radius: 15px;
    /*box-shadow: 0px 0px 6px 4px #12193e;*/                                    /**********************************************/
    padding: 0.1rem;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}



#search-form-container input{
    padding: 4px 10px;

    border: 0px solid transparent;

    color: #d9dcdd;
    background: transparent;
  
    line-height: 1.6;
    font-size: 1.05rem;
}


#text-area{
    width: 65%;	
}

#search-form-container button[type="submit"],
#notification button[type="submit"]{
    background: transparent;
    font-size: 0.95rem;   
    border: none;
    color: white;
    margin: 0px;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
}

#notification button[type="submit"]{
	font-size: 1.2rem;
}

#search-form-container button:hover,
 #notification button:hover{
    border-radius: 50%;
    background: white;
    color: #13386fe0;
}


input:focus,
select:focus,
button:focus {
    outline: none;
}



/*--  Notification  --*/
#notification{
	position: relative;
}

#notification::after {                   
    content: '';
    position: absolute;
  	top: 15px;
  	right: 11px;
    /*left: 5%;*/

    width: 7px;
    height: 7px;
    background-color: red;
    
    border-radius: 50%;
    z-index: 2000;
}



/*-- profile-pic   --*/
#profile-pic{
	height: 80%;
    height: 60px;
    border-radius: 50%;

}





/*-------------                         Main + Aside  Container          -------------- */
#main-aside-container{
	height: 100%;
	position: fixed;
	top: 11vh;
	left: 5%;
	right: 5%;

	margin-left: auto;
	margin-right: auto;
	/*border: 2px solid whitesmoke;*/
	
	width: 90%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	/*background-color: var(--primary-color) ;*/

}



/*-------------------------    Main  ------------------------------------*/
main{
	display: inline-block;
	height: inherit;
	width: 76%;
	padding-top: 4vh;
	padding-bottom: 12%;	
	
	/*border: 2px solid red;*/
	overflow: scroll;

	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


/*-----------------------    Jumbotron Section  ------------------------*/ 
#jumbotron{
	height: auto;
	width: 100%;

	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


/* Jumbotron Image */

/*.jumbotron-image-container{
	width: 47%;
	height: inherit;

	box-sizing: border-box;

	border: 2px solid red;

}

.jumbotron-image-container img{
	height: 100%;
	width: 100%;


}*/

.jumbotron-image-container{
	width: 47%;
	height: 55vh;
	min-width: 280px;
	box-sizing: border-box;

	background-image: linear-gradient(to bottom right, transparent, black),linear-gradient(to bottom, transparent, #271015),url("static/Band/blackpink4.jpg");
	background-size: cover;

/*	background-image: linear-gradient(to bottom, transparent, #000000,transparent, #000000, transparent,#000000,transparent, #000000,transparent, #000000,transparent, #17080c,transparent, #240f14,transparent, #321219, transparent,#531721,transparent, #751b26,transparent, #972225,transparent, #b82e1f), url("static/Band/blackpink4.jpg");
	background-blend-mode: soft-light;
	background-size: cover;*/
}



/* Jumbotron Aside    */
.jumbotron-aside{
	width: 51%;
	height: 40vh;
	min-width: 302px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;

	overflow: hidden;
}


/* Jumbotron Heading  */
.jumbotron-heading{
	height: 20%;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
}

.band-name{
	height: 100%;
}

.band-name h3{

	margin: 0.5rem;
	margin-bottom: 0;
	margin-top: 0;
}

.band-name span{
	font-size: 1rem;
	margin: 0.5rem;
	margin-bottom: 0;
	color: var(--secondary-text-color);
}

.followers{
	margin-top: -8%;
	height: inherit;
}

.followers p{
	margin: 0;
	margin-right: 0.5rem;
	font-size: 1.1rem;
	color: var(--secondary-text-color);
	color: white;
}


/* Jumbotron Description  */
.jumbotron-desc-container{
	margin-top: 0;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.jumbotron-desc-container p{
	font-size: 0.8rem;
	margin: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	line-height: 1.3;
	word-spacing: 0.1rem;

	box-sizing: border-box;
	/*text-align: justify;*/
	color: var(--secondary-text-color);
}



/* -----  Play All & Follow Buttons  ---*/
.button-container{
	margin-top: 5%;
	height: auto;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;
}


/* Play All Buttons   */
.play-button{
	width: auto;
}



.play-button p{
	font-size: 0.9rem;
	margin: 0.5rem;
	margin-bottom: 0;
	color: var(--secondary-text-color);
}



/* Gradient change effect on button*/
.btn-grad {
	background-image: linear-gradient(to right, #000000 0%, #7c1d26  51%, #000000  100%);
}

.btn-grad{
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	/*box-shadow: 0 0 20px #eee;*/
	/*border-radius: 10px;*/
	border: none;
	display: block;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
         
        
.follow-button button{
	background: transparent;
	border: none;
	font-size: 1rem;
	color: white;	
} 
         
     





/*-----------------------    Playlist Section  ------------------------*/ 
#playlist-container{
	height: auto;
	width: 100%;
	margin-top: 5vh;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;
}    


.playlist-song-card{
	width: 100%;
	height: 9vh;
	margin-bottom: 1.5vh;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
}


.playlist-song-left{
	width: 50%;
	height: inherit;
	min-width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;

	box-sizing: border-box;

}

.playlist-song-left img{
	height: 80%;
	width: 7vh;
	border-radius: 5px;

	margin-left: 1rem;
}

.playlist-song-left > span{
	font-size: 0.9rem;
	margin-left: 1rem;
}

.playlist-song-left p{
	margin: 0;
	margin-left: 1rem;
}


.playlist-song-right{
	width: 15%;
	height: inherit;
	min-width: 130px;

	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	align-items: center;

	box-sizing: border-box;
}

.playlist-song-right i{
	font-size: 0.9rem;
	margin: 1.5rem;
}


.playlist-card-grad {background-image: linear-gradient(to right, #000000 0%, #38131a  51%, #000000  100%);}
.playlist-card-grad {

	transition: 0.7s;
	background-size: 200% auto;

	/*box-shadow: 0 0 20px #eee;*/
	/*border-radius: 10px;*/

}

.playlist-card-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;

}



/*--------------------------      Aside Section     ---------------------------------------*/
aside{
	display: inline-block;
	height: inherit;
	width: 22%;

	padding-bottom: 11%;

	box-sizing: border-box;
	position: relative;
	top: 0;
	right: 0;
	border: none;
	overflow: scroll;
}

/*aside section heading*/
.aside-section-heading{
	margin-top: 3vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.aside-section-heading h4{
	margin-bottom: 1.4rem;
}

.aside-section-heading span{
	font-size: 1rem;
	text-align: right;
	color: lightgrey;

	/*margin-bottom: 2vh;*/
}

#slider{
	display: none;
}




/*------                Section 1 - Similar Artists               ---------*/
#similar-artist-container{
	width: 100%;
	height: auto;
	

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	box-sizing: border-box;
}


.similar-artist-card{
	width: 100%;

	height: 11vh;

	margin-bottom: 1.7vh ;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;

	/*overflow: hidden;*/
	min-width: 230px;
	position: relative;
}


.similar-artist-left-container{
	height: inherit;
	width: 70%;

	display: flex;
	flex-wrap: wrap;
	justify-content :space-around;
	align-items: center;
}

.similar-artist-left-container img{
	height: 100%;
	width: 11vh;
}

.similar-artist-image-container:hover{
	opacity: 0.6;
}


/* Play button appearing on hover  */
.similar-artist-image-container i{
	position: absolute;
	left: 4vh;
	top: 35%;
	opacity: 0;
	font-size: 1.4rem;

	border: none;                          
}


.similar-artist-image-container:hover .play-button{
	opacity: 1;
	color: white;
	z-index: 3;
}


/*song desc*/
.song-desc{
	width: auto;
	font-size: 1rem;
	line-height: 1.2;
	margin: auto;

	overflow: hidden;
}

.song-desc span{
	font-size: 0.8rem;
	color: var(--secondary-text-color);
}


/* dropdown menu */  /* - more related classes in common-styles.css  */
.dropdown-menu{
	font-size: 1.1rem;
	color: var(--secondary-text-color);

	/*position: relative;*/
	text-align: right;
	line-height: 0;
	/*margin-left: auto;*/
	margin-right: 2%;
	margin-top: 2%;
}

.dropdown-menu p{
	font-size: 0.75rem;
}





/*------                Section 2 - Recently Played               ---------*/



/*song tile*/
.song-tile-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;
}




.song-tile{
	width: 100%;
	height: 8vh;
	
	/*border: 2px solid green;           */

	margin-bottom: 1.5vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;

	min-width: 230px;
}

.song-tile-image-container{
	width: 80%;
	height: 100%;
	/*border: 4px solid red;*/

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.song-tile-image-container>span{
	font-size: 0.8rem;
}

.song-tile-image-container img{
/*	height: 100%;
	width: 100%;*/

	height: 85%;
	width: 6.5vh;
	border-radius: 5px;
}

.song-tile-desc{
	width: 57%;
	overflow: hidden;
}

.song-tile-desc{
	font-size: 0.9rem;
	line-height: 1.2;
}

.song-tile-desc span{
	font-size: 0.7rem;
	font-weight: lighter;
	color: var(--secondary-text-color);
}


.song-tile-icon{
		margin-right: 3%;
}

.song-tile-icon i{
	font-size: 1rem;

	color: var(--secondary-text-color);
	margin: 6px;
	transition: all ease-in-out 0.2s;
}

.song-tile-icon i:hover{
	color: #b52d20;
}







/*--------------          Footer   -  Bottom Music Player    ---------------------*/

footer{
	height: 9vh;
	width: 90%;
	/*border: 2.5px solid lightgrey;*/
	border-bottom: none;
	/*background-color: var(--music-player-bar-background-color);*/
	/*background-color: #130200;
	background-image: linear-gradient(19deg, #130200 0%, #DDD6F3 100%);*/

	background-color: rgba(32, 36, 44, 1);
	background-blend-mode: lighten;

	box-sizing: border-box;
	position: fixed;
	bottom: 0.2vh;
	left: 5%;
	right: 5%;
	display: flex;
	flex-wrap: ;
	justify-content: center;
	align-items: center;
}



/*--------  Music Player Bar -----------*/
#music-player-bar{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
	box-sizing: border-box;
}


/* current song */
#current-song{
	width: 21%;
	height: inherit;
	min-width: 270px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;

	overflow: hidden;

}

.current-song-image-container{
	height: 90%;
	width: 8vh;
}

#current-song img{
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.current-song-desc{
	width: 50%;
	overflow: hidden;
}

.current-song-desc p{
	font-size: 0.85rem;
	line-height: 1.2;
	margin: auto;
}

.current-song-desc span{
	font-size: 0.7rem;
	color: var(--secondary-text-color);
}

.current-song-icon{
	position: relative;
	top: -10%;
	right: 0;	
}


.current-song-icon i{
	font-size: 0.85rem;
	color: var(--secondary-text-color);
	margin: 6px;
}


/* Audio Controls */
#audio-control{
	height: 4vh;
	width: 40%;
	

	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background: rgba(241, 243, 244, 1);

	border-radius: 10%;

	/*min-width: 300px;*/

}


#audio-control audio{
	width: 80%;
	height: 80%;
	font-size: 1.5rem;
	outline: none;

	background-color: white;
	border-right: 3px solid #242425;
	border-left: 3px solid #242425;
	/*border: 2px solid red;*/
	/*transform: scale(1.2);*/

	transform: scale(1.2);
	margin-left: 2rem;
	margin-right: 2rem;
	opacity: 0.8;


}



#audio-control i{
	color: #242425;
	font-size: 1.1rem;
	margin: 1.3rem;
}





/* Audio Quality & Queue  */
#more{
	width: 15%;
	height: inherit;
	min-width: 170px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;
	position: relative;
}

#more i{
	color: var(--secondary-text-color);
	font-size: 0.8rem;
	margin: 1.1rem;
}


#more p{
	color: var(--primary-text-color);
	font-size: 0.9rem;
	padding: 5px;

	border-radius: 4rem;

	min-width: 100px;
}



/* Expand  */
#expand{
	height: 100%;	
	position: relative;
	right: 0;
	
	border-left: 2px solid white;
}


#expand i{
	color: var(--primary-text-color);
	font-size: 1.1rem;
	margin: 1.2rem;
}
