

/*-- hide scroll bars --*/

body::-webkit-scrollbar,
main::-webkit-scrollbar,
aside::-webkit-scrollbar{            
    display: none;                              
}




/*---  CSS variables  ---*/
:root{
    --primary-color: #0c1027;
    --secondary-color: #12193e;
    --section-heading-color: ;         
}




/*--- Common Classes  ---  */



/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}

.m0 {
    margin: 0px;
}


/*  text-center class */
.text-center{
    text-align: center;
}


.text-align-justify {
    text-align: justify;
}

.text-align-right {
    text-align: right;
}


/*--  Section Class  --*/
.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;

    transition: position 10s top 10s, left 10s;            /* --------------------------------------*/
}

.section-heading span {
    font-size: 40px;
    color: #ffffff;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}





