body{
	background-color: var(--primary-color) ;
	font-size: 25px;

	font-family: var(--primary-font-family);
	color: var(--primary-text-color);
/*	font-weight: lighter; */                                   /*-----------------------*/
    /*position: relative;*/
 /*   background-image: url(static/background/5.jpg);
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-size: cover;*/
}





/*-------             Navigation Bar              ---------*/
nav{
	height: 85px;
	min-height: 80px;
	overflow: hidden;
	padding-top: 1vh;
	padding-bottom: 1vh;
	
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
		
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	background-color: var(--primary-nav-color);
	z-index: 1000;
	
	border: 2px solid white;
	transition: all 1s ease-in-out;
}


nav:hover{
	border-bottom: 2px solid orange;
}


/*-- Logo  --*/
#logo-container{
	height: 100%;
	width: 15%;	

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

#logo-container div{
	height: 95%;
	width: auto;	
}




#logo-container div img{
	height: 95%;
	width: auto;
}


#logo-container a{
	font-size: 1.2rem;
	font-weight: 300
	line-height: 1.5;
	color: white;
	text-decoration: none;
}

#logo-container span{
	color: Orange;
}

/*-- Menu  --*/
#menu{
	height: auto;
	width: auto;
}


#menu a{
	text-decoration: none;
	font-size: 1.2rem;
	color: #fdfdfd;
    transition: all 1s ease-in-out;                 
}

#menu a:hover{
	color: lightgrey;
    border-bottom: 2px solid orange;
}


/*-- Search-form-container --*/
#search-form-container{
	height: 60%;
	width: 25%;

	background-color: var(--secondary-nav-color);
    border-radius: 15px;
    /*box-shadow: 0px 0px 6px 4px #12193e;*/                                    /**********************************************/
    padding: 0.1rem;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}



#search-form-container input{
    padding: 4px 10px;

    border: 0px solid transparent;

    color: #d9dcdd;
    background: transparent;
  
    line-height: 1.6;
    font-size: 1.05rem;
}


#text-area{
    width: 65%;	
}

#search-form-container button[type="submit"],
#notification button[type="submit"]{
    background: transparent;
    font-size: 0.95rem;   
    border: none;
    color: white;
    margin: 0px;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
}

#notification button[type="submit"]{
	font-size: 1.2rem;
}

#search-form-container button:hover,
 #notification button:hover{
    border-radius: 50%;
    background: white;
    color: #13386fe0;
}


input:focus,
select:focus,
button:focus {
    outline: none;
}


/*--  Notification  --*/
#notification{
	position: relative;
}

#notification::after {                      /*-------------------------------------------*/
    content: '';
    position: absolute;
  	top: 15px;
  	right: 11px;
    /*left: 5%;*/

    width: 7px;
    height: 7px;
    background-color: red;
    
    border-radius: 50%;
    z-index: 2000;
}



/*-- profile-pic   --*/
#profile-pic{
	height: 80%;
    height: 60px;
    border-radius: 50%;

}








/*-------------                         Main + Aside  Container          -------------- */
#main-aside-container{
	height: 100%;
	position: fixed;
	top: 11vh;
	left: 5%;
	right: 5%;

	margin-left: auto;
	margin-right: auto;
	border: 2px solid whitesmoke;
	
	width: 90%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



/*-------------------------    Main  ------------------------------------*/
main{
	display: inline-block;
	height: inherit;
	width: 75%;
	padding: 4%;
	padding-top: 6%;
	padding-bottom: 12%;	
	
	border: 2px solid red;
	overflow: scroll;

	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}



/*------      Section 1 - Carousel          -------*/
#carousel{
	width: 100%;
	margin-bottom: 9%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	transform: scale(1.1);
	transition: all ease-in-out 0.4s;
}


#carousel div{
	height: 35vh;
	width: 32%;
		/*border: 2px solid white;*/
	
	transition: all ease-in-out 0.4s;
}

#carousel div img{
	height:100%;
	width: 100%;

}

#carousel:hover{
	width: 80%;
	transform: scale(1.1);
}

/* size of all div decreases when hovered on parent div(carousel)  */
#carousel:hover > div{
	opacity: 0.5;
	transform: scale(0.8);	
}


/* size of the hovered div increases*/
/* - This gives effet that the hovered div size increases & rest of the div size decreases */
#carousel:hover > div:hover{
	opacity: 1.0;
	transform: scale(1.4);
	z-index: 3;
}






/*------                Section 2 - Latest Release                ---------*/
#latest-release{
	width: 100%;
	/*border: 2px solid yellow;*/
}


#card-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-left: -1%;
}


.card{
	width: 46%;
	margin: 9px 5px;
	height: 15vh;

	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;

	/*overflow: hidden;*/
	min-width: 320px;
	position: relative;
}


.latest-release-image-container{
	height: inherit;
	width: 15vh;
}

.card img{
	height: 100%;
	width: 15vh;
}

.latest-release-image-container:hover{
	opacity: 0.6;
}


/* Play button appearing on hover  */
.latest-release-image-container i{
	position: absolute;
	left: 6vh;
	top: 42%;
	opacity: 0;                          
}


.latest-release-image-container:hover .play-button{
	opacity: 1;
	color: white;
	z-index: 3;
}


/*song desc*/
.song-desc{
	font-size: 1.1rem;
	line-height: 1.4;
	margin: auto 10%;
}

.song-desc span{
	font-size: 0.9rem;
	color: var(--secondary-text-color);
}


/* dropdown menu */  /* - more related classes in common-styles.css  */
.dropdown-menu{
	font-size: 1rem;
	color: var(--secondary-text-color);

	position: relative;
	text-align: right;
	line-height: 0;
	margin-left: auto;
	margin-right: 2%;
	margin-top: 2%;
}

.dropdown-menu p{
	font-size: 0.2rem;
}






/*---------               Section 3 - Popular Artists       ------------*/
#popular-artists{
	width: 100%;
	margin-top: 2.1rem;
	box-sizing: border-box;
}


#artists-container{
	width: 100%;
	height: auto;
	margin-top: 0.8vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	align-items: center;
}

#artists-container div{
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#artists-container div span{
	font-size: 1rem;
	color: var( --secondary-text-color);
	margin-top: 0.8vh;
	margin-bottom: 1.4vh;
}



#artists-container img{
	height: 18vh;
	width: 18vh;
	border-radius: 50%;	
	box-shadow: 2px 2px 2px px black;
}


#artists-container img:hover{
	opacity: 0.6;
}

.artist{
	position: relative;
}

/* play-button appears on hover  */
.artist > a{
	position: absolute;
	left: 7.5vh;
	top: 7vh;
	opacity: 0;  
	color: white;                         
}

.artist:hover a{
	opacity: 1;
	color: white;
	z-index: 3;
}

.artist:hover img{
	opacity: 0.6;	
}





/* ---------       Section 4 - Music Themes   ---------------*/ 

#music-themes{
	width: 100%;
	
	margin-top: 3rem;
	
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	/*background-image: var(--music-themes-background-image);*/
	background-color: var(--music-theme-background-color);
	/*border-right: 4px solid var(--music-theme-border-color);*/
}


/* Creating Stations Block by placing div over div  */
#station-container{
	width: 30%;
	height: 30vh;
	/*margin: 20px;*/
	/*border-right: 2px solid var(--music-theme-border-color);*/

	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	min-width: 180px;
}

#div1{
	width: 90%;
	height: 60%;
	background-color: #ff3b3b;
	background-image: linear-gradient(147deg, #ff3b3b 0%, #FF2525 74%);
	position:absolute ;
}

#div2 {
	width: 75%;
	height: 75%;
	position: absolute;
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );;
}

#div3 {

	width: 60%;
	height: 90%;

	position: absolute;

	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

#div3 img {
	width: 35%;
	height: 35%;
}

#div3 p {
	font-size: 1.6rem;
	font-weight: 550;
	color: brown;
}


/* theme-container*/
#theme-container{
	width: 65%;
	height: inherit;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.theme{
	position: relative;
}

.theme img{
	height: 17vh;
	width: 17vh;

	margin: 4px;
	border-radius: 50%;
	/*border: 2px solid var(--music-theme-border-color);*/
	/*filter: blur(0.5px);*/
	opacity: 0.7;
}

/* Remove Blurr on hover  */
.theme:hover img{
	opacity: 1;
}

.theme p{
	font-size: 1.5rem;
	font-weight: 400;
	color: white;
	position: absolute;
	top: 20%;
	left: 21%;

	z-index: 3;
}




/* ---------       Section 5 - Moods  ---------------*/ 
#moods{
	width: 100%;
	height: auto;
	margin-top: 2.5rem;	
	margin-left: -1.5%;
	margin-right: -2%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}


.outer-div{
	width: 32%;
	height: 28vh;
	min-width: 230px;
	margin: 4px;
	position: relative;
	overflow: hidden;
}

.mood{
	width: 100%;
	height: inherit;
	position: relative;	
}

.mood img{
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.mood p{
	position: absolute;
	top: 25%;
	left: 28%;
	color: white;
	transition:	all 0.4s ease-in-out ;

}

.mood{
	background-position: center;
	background-size: cover;
	transition:	all 0.4s ease-in-out ;
}

/* Zoom in on hover  */
.mood:hover{
	transform: scale(1.3);
}

/* Decrease font size on hover */
.mood:hover p{
	transform: scale(0.8);
}


/*Blending Gradient over image (make image opacity to 0.8)  */

#mood2{
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	background-blend-mode: hard-light;
}


#mood1{
	background-color: #FBAB7E;
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

	background-blend-mode: hard-light;
}

#mood3{
	background-color: #FFE53B;
	background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
	background-blend-mode: hard-light;
}





/* ---------       Section 6 - Trending English  ---------------*/ 
#trending-english{
	margin-top: 3rem;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}


.trending-song-container{
	height: auto ;
	width: 100%;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.song{
	height: auto;
	width: 16%;
	padding: 6px;
/*	display: flex;
	flex-wrap: wrap;*/
	text-align: center;

	border: 2px solid yell;
	box-sizing: border-box;
	
}


.song img{
	height: 22vh;
	width: 100%;

	transition: box-shadow ease-in-out 0.3s;
}

.song img:hover{
	box-shadow: 0px 0px 10px 1px white;
}

.song p{
	font-size: 1.1rem;
	line-height: 1.3 ;
	margin: auto 10%;

}

.song p span{
	font-size: 0.8rem;
	color: var(--secondary-text-color);
}


/* ---------       Section 7 - Trending Hindi  ---------------*/ 
#trending-hindi{
	margin-top: 2rem;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}







/*--------------------------      Aside Section     ---------------------------------------*/
aside{
	display: inline-block;
	height: inherit;
	width: 23%;
	border: 2px solid green;

	box-sizing: border-box;
	position: relative;
	top: 0;
	right: 0;

	overflow: scroll;
}



.aside-section-heading{
	margin-top: 5vh;
	
	border: 2px solid red;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.aside-section-heading span{
	font-size: 1rem;
	text-align: right;
	color: var(--aside-section-more-color);
}



.song-tile-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	border: 4px solid black;
}




.song-tile{
	width: 100%;
	height: 10vh
	
	border: 2px solid green;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.song-tile-image-container{
	width: 70%;
	height: 100%;
	/*border: 4px solid red;*/

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.song-tile-image-container>span{
	font-size: 1rem;
}

.song-tile-image-container img{
/*	height: 100%;
	width: 100%;*/

	height: 10vh;
	weight: 80px;
}

.song-tile-desc{
	width: 50%;
	border: 2px solid darkred;
	overflow: hidden;
}

.song-tile-desc p{
	font-size: 1.1rem;
	line-height: 1.3;
	margin: auto 10%;
}

.song-tile-desc span{
	font-size: 1rem;
	color: var(--secondary-text-color);
}




.song-tile-icon i{
	font-size: 1.2rem;
	color: var(--secondary-text-color);
	margin: 6px;
}







/*--------------          Footer   -  Bottom Music Player    ---------------------*/

footer{
	height: 9vh;
	width: 100%;
	border: 2px solid red;
	/*background-color: var(--music-player-bar-background-color);*/
	/*background-color: #130200;
	background-image: linear-gradient(19deg, #130200 0%, #DDD6F3 100%);*/

	background-color: rgba(32, 36, 44, 0.9);
	background-blend-mode: lighten;

	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;

}



/*--------  Music Player Bar -----------*/
#music-player-bar{
	width: 80%;
	height: 95%;

	border: 4px solid black;
	/*background-color: var(--music-player-bar-background-color);*/

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
	box-sizing: border-box;
}


/* current song */
#current-song{
	width: 25%;
	height: inherit;
	border: 4px solid yellowgreen;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.current-song-image-container{
	height: 100%;
	weight: 80px;
}

#current-song img{
	height: 100%;
	width: 100%;
}

.current-song-desc{
	width: 50%;
	border: 2px solid darkred;
	overflow: hidden;
}

.current-song-desc p{
	font-size: 1.1rem;
	line-height: 1.3;
	margin: auto 10%;
}

.current-song-desc span{
	font-size: 1rem;
	color: var(--secondary-text-color);
}

.current-song-icon{
	position: relative;
	bottom: 25%;	
}


.current-song-icon i{
	font-size: 1.2rem;
	color: var(--secondary-text-color);
	margin: 6px;
}


/* Audio Controls */
#audio-control{
	height: 55%;
	width: 40%;
	border: 4px solid red;
	

	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background: rgba(241, 243, 244, 0.7);

}


#audio-control audio{
	width: 80%;
	height: 80%;
	font-size: 1.5rem;
	outline: none;

	background-color: white;
	border-right: 4px solid #242425;
	border-left: 4px solid #242425;
	/*border: 2px solid red;*/
	/*transform: scale(1.2);*/

	transform: scale(1.2);
	margin-left: 2rem;
	margin-right: 2rem;
	opacity: 0.8;

}



#audio-control i{
	color: #242425;
	font-size: 1.3rem;
	margin: 1.3rem;
}




/* Audio Quality & Queue  */
#more{
	width: 15%;
	height: inherit;
	border: 2px solid darkred;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;
	position: relative;
}

#more i{
	color: var(--secondary-text-color);
	font-size: 1.2rem;
	margin: 1.3rem;
}


#more p{
	color: var(--primary-text-color);
	font-size: 1.2rem;
	padding: 5px;

	border-radius: 4rem;

	min-width: 100px;
}



/* Expand  */
#expand{
	height: 100%;	
	position: relative;
	right: 0;
	
	border-left: 4px solid black;
}


#expand i{
	color: var(--primary-text-color);
	font-size: 1.8rem;
	margin: 1.2rem;
}

