body{
	background-color: var(--primary-color) ;
	font-size: 30px;
	margin: 4.5%;
	font-family: sans-serif;
    /*position: relative;*/
}





/*---  Navigation  ---*/
nav{
	height: 8vh;
	margin: 10px;
	padding: 10px 40px 10px 70px;
	overflow: hidden;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
		
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	
	border: 2px solid white;
}


/*Logo*/
#logo-container{
	height: inherit;
	width: 20%;	
	font-size: 1.2rem;
	font-weight: 300
	line-height: 1.5;
	color: white;
	border: 2px solid darkred;
}

#logo-container img{
	height: 70px;
	width: auto;	
}


/*Menu*/
#menu{
	height: auto;
	width: 10%;
	border: 2px solid darkred;
}


#menu a{
	text-decoration: none;
	font-size: 1.3rem;
	color: #fdfdfd;
    transition: color 0.5s, border-bottom 4s, font-size 0.2s;                  
}

#menu a:hover{
	color: lightgrey;
    font-size: 1.1rem;
}


/*Search-form-container*/
#search-form-container{
	height: 45px;
	width: 500px;
	border: 2px solid darkred;
	background-color: var(--secondary-color);
    border-radius: 10px;
    /*box-shadow: 0px 0px 6px 4px #12193e;*/                                    /**********************************************/
    padding: 0.1rem;
}



#search-form-container input {
    max-width: 70%;
    padding: 4px 10px;

    border: 0px solid transparent;

    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}


#search-form-container button[type="submit"],
#notification button[type="submit"]{
    background: transparent;
    font-size: 0.95rem;   
    border: none;
    color: white;
    margin: 0px;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
}

#notification button[type="submit"]{
	font-size: 1.3rem;
}

#search-form-container button:hover,
 #notification button:hover{
    border-radius: 50%;
    background: white;
    color: #13386fe0;
}


input:focus,
select:focus,
button:focus {
    outline: none;
}


#notification::after {                      /*-------------------------------------------*/
    content: '';
    position: sticky;
  	
    /*left: 5%;*/

    width: 7px;
    height: 7px;
    background-color: red;
    
    border-radius: 50%;
    z-index: 5;
}



/*profile-pic*/
#profile-pic{
	height: 70px;

	border: 2px solid darkred;
    height: 60px;
    border-radius: 50%;

}








/*-- Main + Aside - Container  -- */
#main-aside-container{
	height: 1000px;
	border: 2px solid whitesmoke;
	margin-top: 10rem;

	box-sizing: border-box;
}



/*---  Main  ---*/
main{
	display: inline-block;
	height: inherit;
	width: 68%;
	padding: 4%;
	padding-top: 6%;	
	
	border: 2px solid red;
	overflow: scroll;

	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



/*Section 1 - Carousel*/
#carousel{
	width: 100%;
	
	border: 2px solid yellow;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	transform: scale(1.1);
	transition: all ease-in-out 0.4s;
}


#carousel div{
	height: 35vh;
	width: 32%;
	border: 2px solid white;
	
	transition: all ease-in-out 0.4s;
}

#carousel div img{
	height:100%;
	width: 100%;

}

#carousel:hover{
	width: 80%;
	transform: scale(1.1);
}

#carousel:hover > div{
	opacity: 0.6;
	transform: scale(0.8);	
}

#carousel:hover > div:hover{
	opacity: 1.0;
	transform: scale(1.5);
	z-index: 3;
}




/*Section 2 - Latest Release*/






aside{
	display: inline-block;
	height: inherit;
	width: 30%;
	border: 2px solid green;

	box-sizing: border-box;
	position: relative;
	top: 0;
	right: 0;

	overflow: scroll;
}




